usage() {
cat<<EOF
usage: `basename $0` <start|stop>

EOF
}

case $1 in
  start) <%=node.memcached.bin_dir%>/memcached start;;
  stop)
    pid=`ps u | grep <%=node.memcached.service%> | grep -v grep | awk '{print $2}'`
    kill $pid;;
  *) usage;;
esac
